Repository sguldemond/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: revert-journal, prepare-readme-for-mkdocs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: revert-journal
        name: Revert JOURNAL.md to docs/journal.md
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && scripts/revert-journal.sh && git add docs/journal.md 2>/dev/null || true'
        language: system
        files: ^JOURNAL\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]
      - id: prepare-readme-for-mkdocs
        name: Copy README.md to docs/index.md for mkdocs
        entry: bash -c 'cd "$(git rev-parse --show-toplevel)" && scripts/prepare-readme-for-mkdocs.sh && git add docs/index.md 2>/dev/null || true'
        language: system
        files: ^README\.md$
        pass_filenames: false
        always_run: false
        stages: [pre-commit]

Fix images in index.md
  docs/index.md
  scripts/prepare-readme-for-mkdocs.sh
Due: none

Deployed fd9bffd with MkDocs version: 1.6.1
  index.html
Due: none

Updates: VyOS, CoreOS, OpenBao
  .sops.yaml
  JOURNAL.md
  docs/journal.md
  infra/vyos/config.boot
  mkdocs.yml
  projects/coreos/k3s-config.yaml
  projects/coreos/macmini1-butane.yaml
  projects/coreos/macmini1.ign
  projects/load-balancing/metallb/ip-address-pool.yaml
  projects/openbao/demo-app.yaml
  projects/openbao/spc.yaml
  projects/openbao/values.yaml
Due: revert-journal

Add Devoteam laptop ssh key
  infra/vyos/config.boot
Due: none

Making space for mbp coreos files
  JOURNAL.md
  docs/journal.md
  infra/coreos/mm1/k3s-config.yaml
  infra/coreos/mm1/macmini1-butane.yaml
  infra/coreos/mm1/macmini1.ign
Due: revert-journal

MBP ready for work
  .sops.yaml
  JOURNAL.md
  infra/coreos/mbp/mbp-butane.yaml
  infra/coreos/mbp/mbp.ign
Due: revert-journal

OVN running on Homelab
  JOURNAL.md
  infra/coreos/mm1/k3s-config.yaml
  projects/ovn-kubernetes/k3s-ovn-metallb-plan.md
  projects/ovn-kubernetes/values.yaml
Due: revert-journal

Document values files
  JOURNAL.md
  projects/ovn-kubernetes/values-single-node-zone.yaml
  projects/ovn-kubernetes/values.yaml
Due: revert-journal

Recreated OVN+MetalLB bug it seems
  JOURNAL.md
  infra/coreos/mbp/mbp-butane.yaml
  infra/coreos/mm1/macmini1-butane.yaml
  projects/ovn-kubernetes/k3s-ovn-metallb-plan.md
  projects/ovn-kubernetes/kong/go-echo-deploy.yml
  projects/ovn-kubernetes/kong/kong-echo-service.yml
  projects/ovn-kubernetes/metallb/metallb-ip-pool.yaml
  projects/ovn-kubernetes/metallb/metallb-l2-advertisement.yaml
Due: revert-journal

EgressService PoC
  JOURNAL.md
  projects/ovn-kubernetes/v1/README.md
  projects/ovn-kubernetes/v1/kong/go-echo-deploy.yml
  projects/ovn-kubernetes/v1/kong/kong-echo-service.yml
  projects/ovn-kubernetes/v1/metallb/metallb-ip-pool.yaml
  projects/ovn-kubernetes/v1/metallb/metallb-l2-advertisement.yaml
  projects/ovn-kubernetes/v2/README.md
  projects/ovn-kubernetes/v2/kong/go-echo-egress-service.yaml
  projects/ovn-kubernetes/v2/kong/go-echo-service.yaml
  projects/ovn-kubernetes/v2/metallb/egress-ip-pool.yaml
  projects/ovn-kubernetes/v2/metallb/egress-l2-advertisement.yaml
Due: revert-journal

Version 3 using BGP mode on VyOS and MetalLB
  JOURNAL.md
  infra/vyos/config.boot
  projects/ovn-kubernetes/v3/README.md
  projects/ovn-kubernetes/v3/kong/go-echo-egress-service.yaml
  projects/ovn-kubernetes/v3/kong/go-echo-service.yaml
  projects/ovn-kubernetes/v3/metallb/bgp-advertisement.yaml
  projects/ovn-kubernetes/v3/metallb/bgp-ip-pool.yaml
  projects/ovn-kubernetes/v3/metallb/bgp-peer.yaml
Due: revert-journal

Advertise L2 over node interfaces
  JOURNAL.md
  projects/ovn-kubernetes/v2/README.md
  projects/ovn-kubernetes/v2/kong/go-echo-service.yaml
  projects/ovn-kubernetes/v2/metallb/egress-l2-advertisement.yaml
Due: revert-journal

Socat tests and file combinations
  JOURNAL.md
  projects/ovn-kubernetes/go-echo-deploy.yml
  projects/ovn-kubernetes/v1/go-echo-service.yml
  projects/ovn-kubernetes/v1/metallb-pool-l2adv.yaml
  projects/ovn-kubernetes/v1/metallb/metallb-ip-pool.yaml
  projects/ovn-kubernetes/v2/go-echo-service-egress.yaml
  projects/ovn-kubernetes/v2/kong/go-echo-egress-service.yaml
  projects/ovn-kubernetes/v2/metallb-pool-l2adv.yaml
  projects/ovn-kubernetes/v2/metallb/egress-ip-pool.yaml
  projects/ovn-kubernetes/v2/socat-metallb.yaml
  projects/ovn-kubernetes/v3/go-echo-service-egress.yaml
  projects/ovn-kubernetes/v3/kong/go-echo-egress-service.yaml
  projects/ovn-kubernetes/v3/metallb-pool-bgp.yaml
  projects/ovn-kubernetes/v3/metallb/bgp-advertisement.yaml
  projects/ovn-kubernetes/v3/metallb/bgp-ip-pool.yaml
  projects/ovn-kubernetes/v3/metallb/bgp-peer.yaml
  projects/ovn-kubernetes/v3/socat-metallb.yaml
Due: revert-journal

Split socat deploy TCP-only and TCP-UDP for faster debugging
  projects/ovn-kubernetes/v2/DEBUG-PLAN.md
  projects/ovn-kubernetes/v2/socat-metallb-tcp-only.yaml
  projects/ovn-kubernetes/v2/socat-metallb-tcp-udp.yaml
Due: none

gatewayMode set to local
  JOURNAL.md
  projects/ovn-kubernetes/v2/DEBUG-PLAN.md
  projects/ovn-kubernetes/v2/go-echo-metallb-tcp-udp.yaml
  projects/ovn-kubernetes/values.yaml
Due: revert-journal

Update Butane files with static IPs
  JOURNAL.md
  infra/coreos/mbp/mbp-butane.yaml
  infra/coreos/mbp/mbp.ign
  infra/coreos/mm1/k3s-config.yaml
  infra/coreos/mm1/macmini1-butane.yaml
  infra/coreos/mm1/macmini1.ign
  infra/coreos/mm1/mm1-butane.yaml
Due: revert-journal

journal update
  JOURNAL.md
Due: revert-journal

Reverse journal
  docs/journal.md
Due: none

Spell check by Claude
  JOURNAL.md
  docs/journal.md
Due: revert-journal

Deployed 878b5f9 with MkDocs version: 1.6.1
  404.html
  index.html
  journal/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Create CNAME
  CNAME
Due: none

Update README
  JOURNAL.md
  README.md
  docs/index.md
Due: revert-journal, prepare-readme-for-mkdocs

Deployed daca211 with MkDocs version: 1.6.1
  CNAME
  index.html
  search/search_index.json
Due: none

Add journal top nav
  mkdocs.yml
Due: none

Deployed 1061c0f with MkDocs version: 1.6.1
  404.html
  index.html
  journal/index.html
Due: none

Journal update
  JOURNAL.md
  docs/journal.md
Due: revert-journal

Update README.md
  README.md
Due: prepare-readme-for-mkdocs

ovn packet flow analyses
  projects/ovn-kubernetes/v2/PACKET-FLOW.md
Due: none

first blog post!
  docs/blog/this-blog.md
  mkdocs.yml
Due: none

Deployed e6ec3b2 with MkDocs version: 1.6.1
  404.html
  CNAME
  blog/this-blog/index.html
  index.html
  journal/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

clean up menu
  JOURNAL.md
  docs/blog/index.md
  docs/blog/this-blog.md
  mkdocs.yml
Due: revert-journal

gh cname
  JOURNAL.md
  docs/CNAME
Due: revert-journal

fix link
  docs/blog/index.md
Due: none

Deployed 6d6f261 with MkDocs version: 1.6.1
  blog/index.html
  blog/this-blog/index.html
  index.html
  journal/index.html
  search/search_index.json
Due: none

boring blog entry
  docs/blog/my-homelab.md
Due: none

spelling mistake
  docs/blog/this-blog.md
Due: none

changed homelab post, still not good
  docs/blog/images/stan-1996.jpg
  docs/blog/index.md
  docs/blog/my-homelab.md
  mkdocs.yml
Due: none
